@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <span class="pull-left">
            <button class="btn btn-primary" type="button" onclick="AllCustomer();">ALL CUSTOMER</button>
        </span>

        <span class="pull-right">
            <button class="btn btn-inverse" onclick="AddBenificary();"><i class="fa fa-plus-square-o"></i>&nbsp;&nbsp;Add New Benificary</button>
            @*<button class="btn btn-inverse" type="button" onclick="LoadFromServer();">Load From Server</button>*@
            <button class="btn btn-inverse" type="button" onclick="RefreshMaster();"><i class="fa fa-refresh"></i></button>
        </span>
    </div>
    <hr/>
    <div class="col-md-12">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-users"></i>&nbsp;Beneficiary List for @ViewBag.CUSTOMERNAME
                </h3>
            </div>
            <div class="panel-body">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Search With Beneficiary Number : </label>
                            <br />
                            <input type="text" class="form-control" id="txtmobilesearch" name="txtmobilesearch" placeholder="Beneficiary Number">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <label>&nbsp;</label>
                        <br />
                        <button class="btn btn-success m-b-5" type="button" id="btnadd">Search</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="tblDisplay" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>BENEFICIARY NAME</th>
                                    <th>MOBILE NUMBER</th>
                                    <th>BENEFICIARY ID</th>
                                    <th>BANK NAME</th>
                                    <th>ACCOUNT</th>
                                    <th>IFSC</th>
                                    <th width="100px;">STATUS</th>
                                    <th width="100px;" style="text-align:center;">SEND MONEY</th>
                                    <th width="100px;">ACTOIN</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="addBenificaryModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmBenificary">
                <input type="hidden" id="EntryMode" name="EntryMode" />
                <input type="hidden" id="dmt_customerid" name="dmt_customerid" value="@ViewBag.CUSTOMERID" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="custom-width-modalLabel">Add New Beneficiary</h4>
                </div>
                <div class="modal-body">
                    <div id="dvmessage"></div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Beneficiary Name :</label>
                                <input type="text" class="form-control" id="dmt_beneficiaryname" maxlength="50" name="dmt_beneficiaryname" placeholder="Benificary Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Beneficiary Mobile Number :</label>
                                <input type="text" class="form-control numberonly" maxlength="10" id="dmt_beneficiarymobile" name="dmt_beneficiarymobile" placeholder="Benificary Mobile Number">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Bank Name :</label>
                                <input type="text" class="form-control" id="dmt_bankname" name="dmt_bankname" placeholder="Bank Name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Branch Name :</label>
                                <input type="text" class="form-control" id="dmt_branchname" name="dmt_branchname" placeholder="Branch Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Account Number :</label>
                                <input type="text" class="form-control numberonly" id="dmt_accountnumber" name="dmt_accountnumber" placeholder="Account Number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">IFSC :</label>
                                <input type="text" class="form-control" id="dmt_ifsc" name="dmt_ifsc" placeholder="IFSC">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Address :</label>
                                <textarea type="text" class="form-control" id="dmt_address" name="dmt_address" placeholder="Address"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Pin Code :</label>
                                <input type="text" class="form-control" id="dmt_pincode" name="dmt_pincode" placeholder="Pin Code">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ion-close-circled"></i>&nbsp;&nbsp;Close</button>
                <button type="button" onclick="SaveEntry();" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
            </div>
        </div>
    </div>
</div>

<div id="otpVerifyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmotpVerify">
                <input type="hidden" id="dmt_beneficiaryid" name="dmt_customerid" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="custom-width-modalLabel">Verify OTP</h4>
                </div>
                <div class="modal-body">
                    <div id="dvmessage_verification"></div>
                    <div id="dvmessage_verification_success"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="field-1" class="control-label">Beneficiary Verification Code :</label>
                                <span>(OTP have been send on customer's mobile number)</span>
                                <br /><br />
                                <input type="text" class="form-control numberonly" id="verificationotp" maxlength="6" name="verificationotp" placeholder="Customer Verification Code">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ion-close-circled"></i>&nbsp;&nbsp;Close</button>
                <button type="button" onclick="VerifyDeleteOtp();" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;Verify OTP</button>
            </div>
        </div>
    </div>
</div>

<div id="tranferMoneyModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="custom-width-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="frmTransferMoney">
                <input type="hidden" id="EntryMode" name="EntryMode" />
                <input type="hidden" id="dmt_customerid" name="customerid" value="@ViewBag.CUSTOMERID" />
                <input type="hidden" id="dmt_benificaryid" name="benificaryid" />
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="custom-width-modalLabel">Transfer Money</h4>
                </div>
                <div class="modal-body">
                    <div id="dvmessage_sendmoney"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="field-1" class="control-label">Transfer Type :</label>
                            <br />
                            <div class="radio-inline">
                                <label class="cr-styled" for="transfertype_imps">
                                    <input type="radio" id="transfertype_imps" name="transfertype" value="IMPS" checked>
                                    <i class="fa"></i>
                                    IMPS
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label class="cr-styled" for="transfertype_neft">
                                    <input type="radio" id="transfertype_neft" name="transfertype" value="NEFT">
                                    <i class="fa"></i>
                                    NEFT
                                </label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dmt_beneficiaryname" class="control-label">Amount to Transfer :</label>
                                <input type="text" class="form-control numberonly" id="transferamount" name="transferamount" placeholder="Amoun To Transfer" onblur="GetTransferCharge()">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dmt_beneficiaryname" class="control-label">Transfer Charge :</label>
                                <input type="text" class="form-control numberonly" id="transfercharge" name="transfercharge" placeholder="Transfer Charge" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="dmt_address" class="control-label">Remarks :</label>
                                <textarea type="text" class="form-control" id="remarks" name="remarks" placeholder="Remarks if any"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="dmt_pincode" class="control-label">Password :</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="ion-close-circled"></i>&nbsp;&nbsp;Close</button>
                <button type="button" onclick="TransferMoney();" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;Send Money</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/select2/select2.min.js"></script>
    <script type="text/javascript">
        var tablelist;

        $(document).ready(function () {
            $('.select2').select2({
                width: '100%'
            });
            GetAll();
        });

        function RefreshMaster() {
            tablelist.draw();
        }

        function AllCustomer()
        {
            window.location.href = "@Url.Action("Index", "DmtCustomer")";
        }

        function GetAll() {
             tablelist = $('#tblDisplay').DataTable({
                "processing": true,
                "serverSide": true,
                "responsive": true,
                "sPaginationType": "full_numbers",
                "info": true,
                "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
                "ajax": {
                    "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))DmtBeneficiary/GetAll",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        d.userguid = '@ViewBag.CUSTOMERID';
                    }
                },
                 "aoColumns": [
                     { data: "dmt_beneficiaryname", "bSearchable": false, "orderable": false },
                     { data: "dmt_beneficiarymobile", "bSearchable": false, "orderable": false },
                     { data: "dmt_requestno", "bSearchable": false, "orderable": false },
                     { data: "dmt_bankname", "bSearchable": false, "orderable": false },
                     { data: "dmt_accountnumber", "bSearchable": false, "orderable": false },
                     { data: "dmt_ifsc", "bSearchable": false, "orderable": false },
                     {
                        data: "up_id", "bSearchable": true, "bSortable": false, "mRender": function (data, type, oObj) {
                            if (oObj.dmt_status == 1) {
                                return '<button type="button" class="btn btn-success btn-xs">APPROVED</button>';
                            } else {
                                return '<button type="button" id=' + oObj.dmt_customerid + ' class="btn btn-danger btn-xs" onclick="ApproveBenificary(this.id)">PENDING</button>';
                            }
                        },
                     },
                     {
                         data: "dmt_beneficiaryid", "bSearchable": true, "bSortable": false, "mRender": function (data, type, oObj) {
                             return '<button type="button" id=' + oObj.dmt_beneficiaryid + ' class="btn btn-purple" onclick="SendMoney(this.id)"><i class="zmdi zmdi-transform"></i>&nbsp;SEND MONEY</button>';
                        },
                     },
                     {
                         data: "dmt_beneficiaryid", "bSearchable": true, "bSortable": false, "mRender": function (data, type, oObj) {
                             return '<button type="button" id=' + oObj.dmt_beneficiaryid + ' class="btn btn-danger" onclick="DeleteBenificary(this.id)"><i class="zmdi zmdi-delete"></i>&nbsp;&nbsp;DELETE</button>';
                         },
                     },
                ],
            });
        }

        function AddBenificary() {
            $("#dvmessage").empty();
            ClearData();
            $('#addBenificaryModal').modal('show');
            $("#dmt_dateofbirth").datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: 'TRUE',
                autoclose: true
            });
        }

        function ClearTransferForm() {
            $("#transferamount").val("");
            $("#transfercharge").val("");
            $("#remarks").val("");
            $("#password").val("");
        }

        function SendMoney(beneficaryid) {
            $("#dmt_benificaryid").val(beneficaryid);
            $("#dvmessage_sendmoney").empty();
            ClearTransferForm();
            $('#tranferMoneyModal').modal('show');
        }

        function TransferMoney() {

            $("#dvmessage_sendmoney").empty();

            waitingDialog.show("Please Wait....");

            var frmModel = $("#frmTransferMoney").serialize();

            $.post('@Url.Action("TransferMoney", "DmtBeneficiary")', frmModel, function (resdata)
            {
                waitingDialog.hide();
                if (resdata.EntryStatus == true) {
                    swal("Success", resdata.Message, "success");
                    $('#tranferMoneyModal').modal('hide');
                }
                else {
                    $("#dvmessage_sendmoney").empty().append(resdata.MessageHtml);
                }
            }).fail(function (response)
            {
                $("#dvmessage_sendmoney").empty().append("<div class='alert alert-danger'><a href ='#' class='close' data-dismiss='alert' aria-label='close'></a>" + response.status + " : Some server error occured.Please try again</div>");
                waitingDialog.hide();
            });
        }

        function GetTransferCharge() {

            $("#dvmessage_sendmoney").empty();

            waitingDialog.show("Calclulating Tansfer Charge....");

            var frmModel = $("#frmTransferMoney").serialize();

            $.post('@Url.Action("GetTransferCharge", "DmtBeneficiary")', frmModel, function (resdata)
            {
                waitingDialog.hide();
                if (resdata.MessageResult.EntryStatus == true) {
                    
                    $("#transfercharge").val(resdata.transferCharge);
                }
                else {
                    $("#dvmessage_sendmoney").empty().append(resdata.MessageResult.MessageHtml);
                }
            }).fail(function (response)
            {
                $("#dvmessage_sendmoney").empty().append("<div class='alert alert-danger'><a href ='#' class='close' data-dismiss='alert' aria-label='close'></a>" + response.status + " : Some server error occured.Please try again</div>");
                waitingDialog.hide();
            });
        }

        function SaveEntry() {

            $("#dvmessage").empty();

            waitingDialog.show("Please Wait....");

            var frmModel = $("#frmBenificary").serialize();

            $.post('@Url.Action("SaveEntry", "DmtBeneficiary")', frmModel, function (resdata)
            {
                waitingDialog.hide();
                if (resdata.MessageResult.EntryStatus == true) {
                    $("#dvmessage").empty();
                    $('#addBenificaryModal').modal('hide');

                    if (resdata.rr.code == 1) {

                        ClearData();
                        // open otp modal here
                        $("#dvmessage_verification_success").empty().append("<div class='alert alert-success'><a href ='#' class='close' data-dismiss='alert' aria-label='close'></a>" + resdata.rr.message + "</div>");
                        $("#dmt_customerid").val(resdata.rr.customerid);
                        $("#verificationotp").val("");
                        $('#otpVerifyModal').modal('show');
                    }
                    else if (resdata.rr.code == 2) {
                        swal(resdata.rr.message, "", "success");
                        tablelist.draw();
                    }
                    else {
                        $("#dvmessage").empty().append(resdata.MessageResult.MessageHtml);
                    }
                }
                else {
                    $("#dvmessage").empty().append(resdata.MessageResult.MessageHtml);
                }
            }).fail(function (response)
            {
                $("#dvmessage").empty().append("<div class='alert alert-danger'><a href ='#' class='close' data-dismiss='alert' aria-label='close'></a>" + response.status + " : Some server error occured.Please try again</div>");
                waitingDialog.hide();
            });
        }

        function ClearData() {
            $("#dmt_beneficiaryname").val("");
            $("#dmt_beneficiarymobile").val("");
            $("#dmt_bankname").val("");
            $("#dmt_branchname").val("");
            $("#dmt_accountnumber").val("");
            $("#dmt_ifsc").val("");
            $("#dmt_address").val("");
            $("#dmt_pincode").val("");
        }

        function ApproveBenificary(id) {
            $("#dvmessage_verification_success").empty();
            $("#dvmessage_verification").empty();
            $("#dmt_customerid").val(id);
            $("#verificationotp").val("");
            $('#otpVerifyModal').modal('show');
        }

        function VerifyDeleteOtp() {
            $("#dvmessage_verification").empty();

            waitingDialog.show("Please Wait....");

            var frmModel = $("#frmotpVerify").serialize();

            $.post('@Url.Action("DeleteBeneficiaryConfirm", "DmtBeneficiary")', frmModel, function (resdata) {
                waitingDialog.hide();
                if (resdata.EntryStatus == true)
                {
                    tablelist.draw();
                    $('#otpVerifyModal').modal('hide');
                    swal(resdata.Message, "", "success");
                }
                else
                {
                    $("#dvmessage_verification").empty().append(resdata.MessageHtml);
                }
            }).fail(function (response) {
                console.log(response);
                $("#dvmessage_verification").empty().append("<div class='alert alert-danger'><a href ='#' class='close' data-dismiss='alert' aria-label='close'></a>" + response.status + " : Some server error occured.Please try again</div>");
                waitingDialog.hide();
            });
        }

        function DeleteBenificary(benificaryid) {

            swal({
                title: "Status",
                text: "Are you sure to Delete Beneficary...?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Delete Beneficary",
                closeOnConfirm: true
            },
                function ()
                {
                     var frmModel = {
                        'benificaryid': benificaryid,
                    };

                    waitingDialog.show("Please Wait....");

                    $.post('@Url.Action("DeleteBeneficary", "DmtBeneficiary")', frmModel, function (resdata)
                    {
                        waitingDialog.hide();
                        if (resdata.MessageResult.EntryStatus == true)
                        {
                            if (resdata.rr.code == 1) {
                                $("#dvmessage_verification_success").empty().append("<div class='alert alert-success'><a href ='#' class='close' data-dismiss='alert' aria-label='close'></a>" + resdata.rr.message + "</div>");
                                $("#dmt_beneficiaryid").val(resdata.rr.customerid);
                                $("#verificationotp").val("");
                                $('#otpVerifyModal').modal('show');
                            }
                        }
                    }).fail(function (response) {
                        console.log(response);
                        $("#dvmessage_verification").empty().append("<div class='alert alert-danger'><a href ='#' class='close' data-dismiss='alert' aria-label='close'></a>" + response.status + " : Some server error occured.Please try again</div>");
                        waitingDialog.hide();
                    });
                });
        }
    </script>
}

