@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/select2/select2.css" />
}
<div class="row">
    <div class="col-lg-12 col-md-12 form-group">
        <div class="panel panel-color panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Money Remitance Report</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-2 col-md-2 form-group">
                        <select id="ddrange" onchange="OnDateChange()" class="select2" name="ddrange">
                            <option value="0" selected>Today</option>
                            <option value="1">Custom Date</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" id="divfromdate">
                        <input type="text" class="form-control" id="fromdate" name="fromdate" placeholder="From Date">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group" id="divtodate">
                        <input type="text" class="form-control" id="todate" name="todate" placeholder="To Date">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                        <select id="ddData" class="select2" name="ddData">
                            <option value="0" selected>Live</option>
                            <option value="1">Archive</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                        <select class="select2" id="status" name="status">
                            <option value="-1" selected>-ALL-</option>
                            <option value="4">SUCCESS</option>
                            <option value="3">FAILED</option>
                            <option value="0">PENDING</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                        <input type="text" class="form-control" name="search" id="search" placeholder="Search any text">
                    </div>
                    <div class="col-lg-2 col-md-2 form-group">
                        <button type="button" onclick="SearchData();" class="btn btn-info  btn m-b-5">Search</button>
                        <button type="button" onclick="ClearText();" class="btn btn-danger btn m-b-5">Clear</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <table id="tblDisplay" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>REQ.DATE</th>
                                    <th>USER NAME</th>
                                    <th>OPERATOR</th>
                                    <th>NUMBER</th>
                                    <th>AMOUNT</th>
                                    <th>MD</th>
                                    <th>SD</th>
                                    <th>R</th>
                                    <th>C</th>
                                    <th>STATUS - TRANSID</th>
                                    <th>PROC.DATE</th>
                                    <th>REQTYPE</th>
                                    <th>REQVIA</th>
                                    <th>API</th>
                                    <th>IP ADDRESS</th>
                                    <th>REQUESTID</th>
                                    <th>ACCOUNTREF</th>
                                    <th>TICKET</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Content/select2/select2.min.js"></script>

    <script type="text/javascript">
        var tablelist;
        $(document).ready(function () {

            $('#tblDisplay').DataTable();
            $("#divfromdate").css('display', 'none');
            $("#divtodate").css('display', 'none');


            $('.input-daterange input').each(function () {
                $(this).datepicker({
                    format: 'dd/mm/yyyy',
                    todayHighlight: 'TRUE',
                });
            });

            $("#fromdate").datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: 'TRUE',
            });
            $("#todate").datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: 'TRUE',
            });

            $('.select2').select2({
                width: '100%'
            });

        });

        function ClearText() {
            $("#divfromdate").css('display', 'none');
            $("#divtodate").css('display', 'none');
            $("#fromdate").val('');
            $("#todate").val('');
            $("#search").val('');
            $("#ddrange").val('0');
            $('#ddrange').trigger('change');

        }
        function OnDateChange() {
            if ($("#ddrange").val() == "0") {
                $("#divfromdate").css('display', 'none');
                $("#divtodate").css('display', 'none');
            }
            else if ($("#ddrange").val() == "1") {
                $("#divfromdate").css('display', 'block');
                $("#divtodate").css('display', 'block');
            }
        }

        function CreateTicket(rechargeid) {

            $("#rechargeid").val(rechargeid);
            $('#modalComplain').modal('show');
        }

        function SaveTicket() {

            waitingDialog.show();

            var frmModel = $("#frmComplain").serialize();

            $.post("../Complain/SaveComplain", frmModel, function (resdata) {
                waitingDialog.show();
                if (resdata.EntryStatus == true) {
                    clearComplainData();
                    SuccessNotify(resdata.Messages);
                    tablelist.draw();
                    waitingDialog.hide();
                    $('#modalComplain').modal('hide');
                } else {
                    ErrorNotify(resdata.Messages);
                    $('#modalChange').modal('hide');
                    swal("Error", resdata.Message, "error");
                }
            });
        }

        function clearComplainData() {
            $("#complaintype").val(0);
            $("#complaintype").trigger('change');
            $("#detail").val('');
        }

         function SearchData() {
            tablelist = $('#tblDisplay').DataTable({
                "processing": true,
                "serverSide": true,
                "destroy": true,
                "responsive": false,
                "searching": true,
                "sPaginationType": "full_numbers",
                "info": true,
                "lengthMenu": [[20, 50, 100, 200], [20, 50, 100, 200]],
                "ajax": {
                    "url": "@string.Format("{0}://{1}{2}", Request.Url.Scheme, Request.Url.Authority, Url.Content("~"))RechargeReport/GetAll",
                    "type": "POST", "datatype": "json",
                    "data": function (d) {
                        d.ddrange = $("#ddrange").val(),
                        d.fromdate = $("#fromdate").val(),
                        d.todate = $("#todate").val(),
                        d.ddData = $("#ddData").val();
                        d.search = $("#search").val();
                        d.status = $("#status").val();
                        d.operatorcode = $("#operatorcode").val();

                    }
                },
                "aoColumns": [
                    {
                        data: "rechargeid", "bSearcable": false, "bSortable": false, "mRender": function (data, type, oObj) {
                            return '<label class="form-label">' + formatDate(oObj.SystemDateTime.substring(6, oObj.SystemDateTime.length - 2)) + '</label>';
                        }
                    },
                    { data: "webusername", "bSearchable": false, "orderable": false},
                    { data: "operatorname", "bSearchable": false, "orderable": false},
                    { data: "numbertorecharge", "bSearchable": false, "orderable": false},
                    { data: "amount", "bSearchable": false, "orderable": false },
                    { data: "commimd", "bSearchable": false, "orderable": false},
                    { data: "commisd", "bSearchable": false, "orderable": false},
                    { data: "commir", "bSearchable": false, "orderable": false},
                    { data: "charge", "bSearchable": false, "orderable": false},
                    {
                        data: "status", "bSearcable": true, "bSortable": true, "mRender": function (data, type, oObj) {
                            if (oObj.status == 4) {
                                return "<span class='label label-success' style='text-align:center;'>SUCCESS</span><br/><br/><span style='text-align:center;color:#3960d1;'>" + oObj.txid+"</span>"
                            }
                            else if (oObj.status == 3) {
                                return "<span class='label label-danger'>FAILED</span>"
                            }
                            else {
                                return "<span class='label label-warning'>PENDING</span>"
                            }
                        }
                    },
                    {
                        data: "rechargeid", "bSearcable": false, "bSortable": false, "mRender": function (data, type, oObj) {
                            return '<label class="form-label">' + formatDate(oObj.proccessdate.substring(6, oObj.proccessdate.length - 2)) + '</label>';
                        }
                    },
                    { data: "reqtype", "bSearchable": false, "orderable": false},
                    { data: "reqvia", "bSearchable": false, "orderable": false},
                    { data: "ApiTitle", "bSearchable": false, "orderable": false},
                    { data: "ipaddress", "bSearchable": false, "orderable": false},
                    { data: "requestid", "bSearchable": false, "orderable": false},
                    { data: "accountref", "bSearchable": false, "orderable": false},
                    {
                        data: "rechargeid", "bSearchable": false, "bSortable": false, "mRender": function (data, type, oObj) {
                            var html = '<button id=' + oObj.rechargeid + ' class="btn btn-primary btn-sm" onclick="CreateTicket(this.id)">CREATE TICKET</button>';
                            return html;
                        }
                    },
                ],
                "columnDefs": [
                   {
                        "targets": [
                           @(User.IsInRole("administrator") ? 17 : 0),
                           @(User.IsInRole("retailer") ? 5 : 0),
                           @(User.IsInRole("retailer") ? 6 : 0),
                           @(User.IsInRole("masterdistributor") ? 7 : 0),
                           @(User.IsInRole("masterdistributor") ? 8 : 0),
                           @(User.IsInRole("distributor") ? 6 : 0),
                           @(User.IsInRole("distributor") ? 8 : 0)],
                       "visible": false
                   },
                ]
            });
        }
    </script>
}